<h1>Name:</h1>
<p><%= @user.first_name.strip + " " + @user.last_name.strip %></p>
<h1>Email Address:</h1>
<p><%= @user.email %></p>

<% if @is_signed_in == false %> %>
  <!-- not signed in -->
  <div class="container">
    <div class="alert alert-danger  alert-dismissible fade show">
      You must be signed in to view information on users.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <h3>If you want to sign in  you can click <a href="/sign_in">here</a>.</h3>
<% elsif session[:user_id] != @user.id %>
  <!-- signed in and not the user-->
  <h2>Current city: <%= @user.has_apartment(2019) ? @user.current_apartment(2019).city : "not provided" %></h2>
<% elsif @user.has_apartment(2019) == false %>
  <!-- signed in and the user but doesn't have apartment -->
  <h3 style="text-align: center;">You haven't added an apartment yet! Add one below.</h3>
  <div class="container">
    <form action="/add_apartment" method="post" style="max-width: 50%; margin: auto; background-color: #f0ebdf; border: thin solid gray;">
      <!-- address -->
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="browser_address">Address</label>
            <input class="form-control" type="text" id="browser_address" name="qs_address" placeholder="Enter Street Address...">
          </div>
        </div>
      </div>
      <!-- apartment number -->
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="browser_apt_num">Apartment or Unit #</label>
            <input class="form-control" type="text" id="browser_apt_num" name="qs_apt_num" placeholder="Optional #">
          </div>
        </div>
      </div>
      <!-- city and state -->
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="browser_city">City</label>
            <input class="form-control" type="text" id="browser_city" name="qs_city" placeholder="City">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="browser_state">State</label>
            <input class="form-control" type="text" id="browser_state" name="qs_state" placeholder="State">
          </div>
        </div>
      </div>
      <!-- zip code, longitude, latitude -->
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="browser_zip">Zip Code</label>
            <input class="form-control" type="text" id="browser_zip" name="qs_zip" placeholder="Zip Code">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="browser_lng">Longitude</label>
            <input class="form-control" type="text" id="browser_lng" name="qs_lng" placeholder="Longitude">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="browser_lat">Latitude</label>
            <input class="form-control" type="text" id="browser_lat" name="qs_lat" placeholder="Latitude">
          </div>
        </div>
      </div>
      <button type="submit">Add my apartment</button>
    </form>
  </div>
<% else %>
  <!-- signed in and the user and has apartment -->
  <h3 style="text-align: center;">You've got an apartment in the system!</h3>
  <div class="container">
    <form action="/update_apartment" method="post" style="max-width: 50%; margin: auto; background-color: #f0ebdf; border: thin solid gray;">
      <!-- address -->
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="browser_address">Address</label>
            <input class="form-control" type="text" id="browser_address" name="qs_address" value="<%= @user.current_apartment(2019).address %>" placeholder="Enter Street Address...">
          </div>
        </div>
      </div>
      <!-- apartment number -->
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="browser_apt_num">Apartment or Unit #</label>
            <input class="form-control" type="text" id="browser_apt_num" name="qs_apt_num" value="<%= @user.current_apartment(2019).apartment_number %>" placeholder="Optional #">
          </div>
        </div>
      </div>
      <!-- city and state -->
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="browser_city">City</label>
            <input class="form-control" type="text" id="browser_city" name="qs_city" value="<%= @user.current_apartment(2019).city %>" placeholder="City">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="browser_state">State</label>
            <input class="form-control" type="text" id="browser_state" name="qs_state" value="<%= @user.current_apartment(2019).state %>" placeholder="State">
          </div>
        </div>
      </div>
      <!-- zip code, longitude, latitude -->
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="browser_zip">Zip Code</label>
            <input class="form-control" type="text" id="browser_zip" name="qs_zip" value="<%= @user.current_apartment(2019).zip %>" placeholder="Zip Code">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="browser_lng">Longitude</label>
            <input class="form-control" type="text" id="browser_lng" name="qs_lng" value="<%= @user.current_apartment(2019).longitude %>" placeholder="Longitude">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="browser_lat">Latitude</label>
            <input class="form-control" type="text" id="browser_lat" name="qs_lat" value="<%= @user.current_apartment(2019).latitude %>" placeholder="Latitude">
          </div>
        </div>
      </div>
      <button type="submit">Add my apartment</button>
    </form>
  </div>
<% end %>

<% content_for :scripts do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_KEY"] %>&libraries=places"></script>
  <script src="/javascript/autocomplete.js"></script>
<% end %>